<%- include('includes/header.ejs') %>
<div class="container">
    <form action="/editProduct" method="POST">
        <div class="form-group">
            <label >Title</label>
            <input type="text" class="form-control"  name="title" value="<%= product.title %>"/>
        </div>
        <div class="form-group">
            <label >Price</label>
            <input type="number" class="form-control"  name="price" value="<%= product.price %>"/>
        </div>
        <div class="form-group">
            <label >Image URL</label>
            <input type="text" class="form-control"  name="imageUrl" value="<%= product.imageUrl %>"/>
        </div>
        <div class="form-group">
            <input type="hidden" class="form-control"  name="quantity" value="<%= product.quantity %>"/>
        </div>
        <div class="form-group">
            <label >Description</label>
            <textarea class="form-control" rows="5" name="description"><%= product.description %> </textarea>
        </div>
        <input type="hidden" value="<%= csrfToken %>" name="_csrf">
        <button type="submit" class="btn btn-success" name="button">Save Changes</button>
        <input type="hidden" name="productId" value="<%= product.id %>">
    </form>
</div>

<%- include('includes/footer.ejs') %>
