<%- include('includes/header.ejs') %>
<div class="card checkout container-fluid">
    <% if (orders.length <= 0) { %>
        <h1>Nothing there!</h1>
    <% } else { %>
       
            <ul>
                <% orders.forEach(order => { %>
                    <div class="orderBlock">
                        <div class="card-header">
                            <li>
                                <h1>Order - # <%= order._id %></h1>
                               <h2>TotalPrice: <%=order.totalPrice %> </h2>
                                </div>
                                <div class="cart-body">
                                    <ul>
                                        <% order.products.forEach(p => { %>
                                            <li><%= p.product.title %> (<%= p.quantity + " X " + p.product.price + " = " + p.quantity*p.product.price%>) </li>
                                        <% }); %>
                                    </ul>
                                    <div class="downloadInvoice">
                                        <a href="/orders/<%= order._id %> ">Download Invoice</a>
                                    </div>
                                </div>               
                            </li>
                    </div>       
                <% }); %>
            </ul>
        
    <% } %>
</div>

<%- include('includes/footer.ejs') %>
